<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         executionOrder="depends,defects"
         failOnRisky="true"
         failOnWarning="true"
         stopOnFailure="false"
         cacheDirectory=".phpunit.cache">
    
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/integration</directory>
        </testsuite>
    </testsuites>
    
    <source>
        <include>
            <directory>includes</directory>
            <directory>pages</directory>
            <directory>scripts</directory>
        </include>
        <exclude>
            <directory>vendor</directory>
            <directory>tests</directory>
            <directory>uploads</directory>
            <directory>assets</directory>
        </exclude>
    </source>
    
    <coverage includeUncoveredFiles="true"
              pathCoverage="false"
              ignoreDeprecatedCodeUnits="true"
              disableCodeCoverageIgnore="true">
        <report>
            <html outputDirectory="coverage" lowUpperBound="50" highLowerBound="80"/>
            <text outputFile="coverage.txt" showUncoveredFiles="false" showOnlySummary="true"/>
        </report>
    </coverage>
    
    <logging>
        <junit outputFile="tests/results/junit.xml"/>
    </logging>
    
    <php>
        <env name="DB_HOST" value="localhost"/>
        <env name="DB_NAME" value="u773681277_timer_test"/>
        <env name="DB_USER" value="u773681277_timer"/>
        <env name="DB_PASS" value="Walter@1975@"/>
        <env name="DB_CHARSET" value="utf8mb4"/>
        <env name="APP_ENV" value="testing"/>
    </php>
</phpunit>